@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');


/* GENERAL STYLES */
button {
    border: none;
    cursor: pointer;
}

/* --------------------------------
---------- CONSTANT STYLES -----------
------------------------------------- */
body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    background-color: #1A2A33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #A8BFC9;
}

.choosePlayer {
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    padding: 24px 24px 30px 24px;
    text-align: center;
}

.rememberText {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    opacity: 0.5;
}

.x_y {
    background-color: #1A2A33;
    border-radius: 10px;
    padding: 9px 8px;
    display: flex;
}

/*-----  X and O shapes ----- */
.x-rect {
    position: absolute;
    width: 9.8px;
    Height: 36.84px;
    background-color: #A8BFC9;
    border-radius: 3px;
}

.x-rect:nth-of-type(1) {
    transform: rotate(45deg);
}

.x-rect:nth-of-type(2) {
    transform: rotate(135deg);
}

.o_circle {
    width: 31.74px;
    height: 31.74px;
    border: 9.405px solid #1A2A33;
    border-radius: 50%;
    background-color: transparent;
}

/* ---------------------------------------------- */

.choose {
    width: 50%;
    height: 54px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o {
    background-color: #A8BFC9;
}

.x {
    background-color: transparent;
}

/*  START BUTTONS */
.vs {
    font-weight: 700;
    color: #1A2A33;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.vs_cpu {
    background: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
}

.vs_player {
    background: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
}

/* --------------------------------
/////////////////////////////////////
---------- CHANGEBLE STYLES -----------
//////////////////////////////////////
------------------------------------- */
body {
    padding: 119px 24px;
}

img[alt=logo] {
    margin-bottom: 32px;
}

.x_y {
    width: 279px;
    height: 72px;
    margin: 24px 0 17px 0;
}

.vs {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    width: 327px;
    height: 56px;
    padding-top: 14px;
}

.vs_cpu {
    margin: 32px 0 16px 0;
}

/*--------- FOR TABLET RESOLUTION ----------- */
@media (min-width: 768px) {
    body {
        padding: 277px 154px 276px 154px;
    }

    img[alt=logo] {
        margin-bottom: 40px;
    }

    .x_y {
        width: 412px;
    }

    .vs {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1.25px;
        width: 460px;
        min-height: 67px;
        padding-top: 17px;
    }

    .vs_cpu {
        margin: 40px 0 20px 0;
    }
}

/*--------- FOR DESKTOP RESOLUTION ----------- */
@media (min-width: 1440px) {
    body {
        padding: 215px 490px 214px 490px;
    }
}

/* ------ HOVER EFFECTS ---------- */

.choose:hover {
    background: rgba(168, 191, 201, 0.05);
}

.vs_cpu:hover {
    background-color: #FFC860;
}

.vs_player:hover {
    background-color: #65E9E4;
}